* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.logoName {
    font-weight: bolder;
}

.container-fluid {
    padding: 7px;
}

.nav-underline {
    text-decoration-color: rgb(255, 38, 38);
}

.nav-item {
    padding-left: 20px;
}

.main-container {
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.sort-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 900px;
}

.dot-img-right {
    height: 170px;
    position: fixed;
    left: -80px;
    opacity: 0.3;
}

.sort-details-myself {
    padding: 0px 0px 0px 120px;
}

.jod-title {
    font-size: 25px;
    font-weight: 100;
}

.name {
    font-size: 55px;
    font-weight: bold;
    color: rgb(255, 38, 38);
}

.motivation {
    line-height: 25px;
}

.btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.portfolio,
.contact-me {
    width: 125px;
    padding: 2px 0px 2px 0px;
    border-radius: 15px;
    font-weight: bolder;
    font-size: 17px;
    color: white;
    outline: none;
    border: transparent;
}

.portfolio {
    background-color: rgb(50, 50, 50);
}

.contact-me {
    background-color: rgb(255, 38, 38);
}

.image-wrapper {
    position: relative;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    background: #fff;
    padding: 20px 20px 0px 20px;
    box-shadow: 0 0 0 10px white;
    /* inner white padding */
}

.image-wrapper::before,
.image-wrapper::after {
    content: "";
    position: absolute;
    width: 230px;
    height: 230px;
    background-color: #ffd54c;
    border-radius: 20px;
    z-index: 1;
}

.image-wrapper::before {
    top: 15px;
    left: 1px;
}

.image-wrapper::after {
    bottom: -1px;
    right: 0px;
}

.image-content {
    position: relative;
    z-index: 2;
    border-radius: 15px;
    display: block;
    width: 100%;
    height: auto;
}

.main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    gap: 250px;
    margin-top: 50px;
}

.all-link {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.dot-img-footer {
    right: 200px;
    bottom: -1px;
    height: 120px;
    opacity: 0.2;
    position: fixed;
}

.navbar-toggler {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-toggler i {
    font-size: 25px;
    color: black;
}

@media (max-width: 990px) {
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .main-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: auto;
        padding-left: 0px;
        padding-right: 0px;
    }

    .sort-details {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin-left: -120px;
        width: auto;
    }

    .jod-title {
        font-size: 22px;
    }

    .name {
        font-size: 45px;
    }

    .sort-details-myself {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .btn-div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        padding: 0px;
    }

    .portfolio,
    .contact-me {
        width: 100%;
        height: 40px;
    }

    .my-photo-div {
        margin-top: -60px;
    }

    .main-footer{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .all-link {
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .motivation {
        width: 350px;
    }
}