body {
  font-family: Arial, sans-serif;
  background-color: #fff;
}

body {
  text-align: center;
}

.container p {
  line-height: .5;
}

.work {
  font-size: 50px;
  font-weight: bolder;
  color: red;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
  padding: 15px 40px;
}

.card {
  background: white;
  border-radius: 35px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  object-fit: cover;
  border-radius: 35px;
  display: block;
  height: 200px;
}

footer div {
  display: flex;
  justify-content: center;
  gap: 140px;
  margin-top: 50px;
}

@media (max-width:900px) {
  .nav-item {
    display: flex;
    justify-content: flex-start;
  }

  main {
    padding: 0px 30px 0px 30px;
  }

  .container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .container p {
    display: flex;
    justify-content: flex-start;
  }

  .work {
    font-size: 35px;
  }

  .grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .card {
    margin-top: 20px;
    width: 350px;
  }

  footer div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 0px;
  }
}